@font-face {
  font-family: 'MiFuentePersonalizada';
  src: url('../fonts/28 Days Later.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Fredoka', sans-serif;
}

.background {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.background-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.95);
  padding: 50px 60px;
  border-radius: 30px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
}

.title {
  font-size: 5.2em;
  color: #ffd740;
  background: #6a1b9a;
  padding: 25px 50px;
  border-radius: 30px;
  text-align: center;
  line-height: 1.2;
  box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.3);
  font-family: 'MiFuentePersonalizada', sans-serif;
}

.registro-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.registro-form label {
  font-size: 1.4em;
  color: #4e342e;
  font-weight: bold;
}

.registro-form input,
.registro-form select {
  padding: 14px;
  font-size: 1.3em;
  border: 2px solid #a1887f;
  border-radius: 12px;
  outline: none;
  background-color: #fffde7;
}

.guardar-btn {
  background-color: #4caf50;
  color: white;
  width: 100%;
  font-size: 1.6em;
  border: none;
  padding: 16px 0;
  border-radius: 12px;
  cursor: pointer;
  font-weight: bold;
}

.guardar-btn:hover {
  background-color: #79d47d;
  transform: scale(1.05);
}

/* Mago mucho más grande */
.mago-img {
  position: absolute;
  bottom: 0;
  right: 2%;
  width: 440px;
  height: auto;
}

/* Botón de ayuda */
.help-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #29b6f6;
  color: white;
  border: none;
  font-size: 2em;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 3;
}

.help-btn:hover {
  background-color: #ee7306;
  transform: scale(1.1);
}

/* Cuadro de ayuda */
.help-box {
  position: absolute;
  bottom: 90px;
  right: 20px;
  background-color: #fff9c4;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  max-width: 300px;
  font-size: 1.1em;
  z-index: 2;
  color: #5d4037;
}

.back-button {
    position: absolute;
    top: 15px;
    left: 40px;
    padding: 12px 15px;
    background-color: rgb(234, 103, 38);
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 25px;
    font-family: 'Fredoka', sans-serif;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.back-button:hover {
    background-color: rgb(255, 81, 1);
}